@model ViewCoursesVM

@{
    ViewData["Title"] = "All Courses";

    var institutions = new List<Institution>();

    foreach (var c in Model.Courses)
    {
        if (!institutions.Contains(c.Institution))
        {
            institutions.Add(c.Institution);
        }
    }
}

<script src="js/site.js"></script>

<div class="container-fluid pb-4">
    <div class="row">
        <div class="col">
            <a asp-action="Index" class="btn btn-secondary px-2">Back</a>
        </div>
        <div class="col-9"></div>
    </div>
</div>

<div class="container-fluid courseList">
    <div class="row">
        <h1>All Courses</h1>
    </div>
    
    <!-- Filters -->
    <div class="row">
        <div class="col-6"></div>
        <div class="col">
            <div class="row me-4 mt-2 mb-1">
                <button class="btn btn-secondary btn-sm btn-thin" onclick="toggleFilters()">Toggle Filters</button>
            </div>
            <div class="row formHidden mb-5" id="filters">
                <form method="post" action="/Admin/FilterCourses" class="form-inline">
                    <label for="courseName">Class Name</label>
                    <input name="courseName" class="form-control-sm" id="courseName"/>

                    <label for="institutionName">Institution</label>
                    <select name="institutionName" id="institutionName" class="form-control-sm" asp-items="@(new SelectList(Model.Institutions, nameof(Institution.Id), nameof(Institution.Name)))">
                        <option value="-1">All</option>
                    </select>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    
    <div class="row">
        <table class="table table-bordered table-striped">
            <thead>
                <th>Name</th>
                <th>Description</th>
                <th>Institution</th>
                <th>Number of Instances</th>
            </thead>
            <tbody>
            @if (Model.Courses.Any())
            {
                @foreach (var c in Model.Courses)
                {
                    <tr>
                        <td>@c.Name</td>
                        <td>@c.Description</td>
                        <td>@c.Institution.Name</td>
                        <td>@c.Subclasses.Count()</td>
                    </tr>
                }
            }
            else
            {
                <h4>No Courses Found</h4>
            }
            </tbody>
        </table>
    </div>
</div>