@model InstructorDashVM

@{
    ViewData["Title"] = "Dashboard";
    var instructor = Model.Instructor;
    var classes = Model.Classes;
    var courses = Model.Courses;
    var students = Model.Students;
}

<div class="container-fluid mb-5">
    <div class="row">
        <h3>Welcome, @instructor.UserName</h3>
    </div>
    <!-- Dashboard buttons -->
    <div class="row mb-2">
        <div class="col dashboardWidget spacingRight btn btn-outline-primary">
            <a asp-action="ViewAllGroups">
                <div class="sizeWrapper">Manage Groups</div>
            </a>
        </div>
        <div class="col dashboardWidget spacingRight btn btn-outline-primary">
            <a asp-action="ViewStudents">
                <div class="sizeWrapper">Total Students @students.Count()</div></a>
        </div>
        <div class="col dashboardWidget spacingRight btn btn-outline-primary">
            <a asp-action="ViewStudents">
                <div class="sizeWrapper">Ready for Grading 0</div></a>
        </div>
        <div class="col dashboardWidget btn btn-outline-primary" id="toolTipTarget">
            <a asp-action="UpcomingDeadlines">
                <div class="sizeWrapper">Upcoming Deadlines</div></a>
        </div>
    </div>
    <div class="row courseList">
        <div class="row mb-2">
            <div class="col"><h3><b>Recently Accessed</b></h3></div>
            <div class="col text-end">
                <a asp-action="ViewCourses" class="btn btn-sm btn-primary px-3">Manage Courses</a>
                <a asp-action="ViewClasses" class="btn btn-sm btn-primary px-3">Manage Classes</a>
            </div>
            
        </div>
        @foreach (Class c in classes)
        {
            <div class="row courseListEntry mb-2">
                <div class="col">
                    <h4>@(c.ParentCourse != null ? c.ParentCourse.Name : "Unknown Course") | @c.Crn</h4>
                    <h5>@c.Students.Count() Students Enrolled</h5>
                </div>
                <div class="col text-end">
                    <p>Active Reviews 0</p>
                </div>
                <div class="col text-end">
                    <p>
                        <a asp-action="ViewAssignments" asp-route-classId="@c.ClassId" class="courseButton">Assignments</a> |
                        <a asp-action="ViewGroups" asp-route-classId="@c.ClassId" class="courseButton">Groups</a>
                    </p>
                </div>
            </div>
        }
    </div>
    <div class="spacer"></div>
</div>