@model InstructorDashVM
@{
    var instructor = Model.Instructor;
    var classes = Model.Classes;
    var courses = Model.Courses;
}

@*Buttons to navigate towards testing. They are temporary*@
<a href="@Url.Action("AddCourse", "Instructor")" class="btn btn-info mr-2">Add Course</a>
<a href="@Url.Action("AddClass", "Instructor")" class="btn btn-info mr-2">Add Class</a>
<a href="@Url.Action("ViewClasses", "Instructor")" class="btn btn-info mr-2">View Classes</a>
<a href="@Url.Action("ViewStudents", "Instructor")" class="btn btn-info mr-2">View Students</a>

<div class="container-fluid">
    <div class="row">
        <h3>Welcome, @instructor.UserName</h3>
    </div>
    <div class="row mb-5">
        <div class="col"><a asp-action="ViewClasses" class="btn btn-primary px-3">Manage Classes</a></div>
    </div>
    <div class="row mb-2">
        <div class="col dashboardWidget spacingRight"><div class="sizeWrapper">Active Reviews</div></div>
        <div class="col dashboardWidget spacingRight"><div class="sizeWrapper">Total Students</div></div>
        <div class="col dashboardWidget spacingRight"><div class="sizeWrapper">Pending Submissions</div></div>
        <div class="col dashboardWidget"><div class="sizeWrapper">Upcoming Deadlines</div></div>
    </div>
    <div class="row courseList">
        <div class="row mb-2">
            <h3><b>Recently Accessed</b></h3>
        </div>
        @foreach (Class c in classes)
        {
            <div class="row courseListEntry">
                <div class="col">
                    <h4>@c.ParentCourse.Name</h4>
                    <h5>@c.Students.Count() Students Enrolled</h5>
                </div>
                <div class="col text-end">
                    <p>Active Reviews 0</p>
                </div>
                <div class="col text-end">
                    <p><a asp-action="" class="courseButton">Assignments</a>|<a asp-action="" class="courseButton">Reviews</a></p>
                </div>
            </div>
        }
    </div>
    <div class="row"></div>
</div>