@model ViewGroupsVM
@{
}

<h1 class="text-center fw-bolder">@Model.Class.ParentCourse.Name : @Model.Class.Term</h1>
<div class="container-fluid">
    @foreach (Assignment asn in Model.Assignments)
    {
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a asp-action="SortGroup" asp-route-classId="@Model.Class.ClassId" asp-route-assignmentId="@asn.Id" class="btn btn-primary">
                Auto Select Groups
            </a>
        </div>



        <table class="table">
            <thead>
            <tr>
                @foreach (var asnv in asn.Versions)
                {
                    <th>@asnv.Name</th>
                }
            </tr>
            </thead>

            <tbody>
            <tr>
                @foreach (AssignmentVersion asnv in asn.Versions)
                {
                    <td>
                        <ul>
                            @foreach (AppUser std in Model.Students.ToList())
                            {
                                @if (asnv.Students.Contains(std))
                                {
                                    <li>
                                        @std.UserName <!---->
                                        <!-- !Not Created yet! <a asp-action="RemoveStudentFromGroup" asp-route-studentId="@std.Id" class="btn btn-danger btn-sm">Remove</a>-->
                                    </li>
                                }
                            }
                        </ul>
                    </td>
                }
            </tr>
            </tbody>
        </table>

        var list = Model.Students;

        @foreach (AppUser std in Model.Students.ToList())
        {
            @foreach(var asnv in asn.Versions)
            {
                @if (asnv.Students.Contains(std))
                {
                    list.Remove(std);
                } 
            }
        }
        <h2>Unassigned Students</h2>
        @foreach (var student in list)
        {
            <li>
                @student.UserName
                @*
                <label asp-for="">Assign to:</label>
                <span asp-validation-for=""></span>
                <select asp-for="" class="form-control"
                        asp-items="@(new SelectList(asn.Versions, nameof(AssignmentVersion.Id), nameof(AssignmentVersion.Name)))">
                </select>
                *@
            </li>
        }

        <hr />
    }
</div>
<div class="spacer"></div>
