@model ViewGroupsVM
@{
}

<h1 class="text-center fw-bolder">@Model.Class.ParentCourse.Name : @Model.Class.Term</h1>


@foreach (Assignment asn in Model.Assignments)
{
    <div class="d-inline">
        <h3 class="d-inline">@asn.Title</h3>
        <a class="d-inline gap-2 d-md-flex float-end btn btn-primary" asp-action="SortGroup" asp-route-classId="@Model.Class.ClassId" asp-route-assignmentId="@asn.Id">
            Auto Select Groups
        </a>
    </div>




        <table class="table">
            <thead>
            <tr>
                @foreach (var asnv in asn.Versions)
                {
                    <th>@asnv.Name</th>
                }
            </tr>
            </thead>

            <tbody>
            <tr>
                @foreach (AssignmentVersion asnv in asn.Versions)
                {
                    <td>
                        <ul>
                            @foreach (AppUser std in Model.Students.ToList())
                            {
                                @if (asnv.Students.Contains(std))
                                {
                                    <li>
                                        @std.UserName
                                        <a asp-action="RemoveStudentFromGroup" asp-route-studentId="@std.Id" asp-route-assignmentId="@asn.Id" class="btn btn-danger btn-sm">Remove</a>
                                    </li>
                                }
                            }
                        </ul>
                    </td>
                }
            </tr>
            </tbody>
        </table>


    var list = Model.Students.ToList();

    @foreach (AppUser std in list.ToList())
    {
        @foreach(var asnv in asn.Versions)
        {
            @foreach(var asnv in asn.Versions)
            {
                @if (asnv.Students.Contains(std))
                {
                    list.Remove(std);
                } 
            }
        }
        <h2>Unassigned Students</h2>
        @foreach (var student in list)
        {
            <li>
                @student.UserName
                @*
                <label asp-for="">Assign to:</label>
                <span asp-validation-for=""></span>
                <select asp-for="" class="form-control"
                        asp-items="@(new SelectList(asn.Versions, nameof(AssignmentVersion.Id), nameof(AssignmentVersion.Name)))">
                </select>
                *@
            </li>
        }

    }
    if(list.Count() > 0)
    {
        <h2>Unassigned Students</h2>
        @foreach (var student in list)
        {
            <li>
                @student.UserName
                @*
                <label asp-for="">Assign to:</label>
                <span asp-validation-for=""></span>
                <select class="form-control"
                        asp-items="@(new SelectList(asn.Versions, nameof(AssignmentVersion.Id), nameof(AssignmentVersion.Name)))">
                </select>
                *@
            </li>
        }
    }
    

    <hr />
}

        <hr />
    }
</div>
<div class="spacer"></div>
