@model IList<AssignmentSubmission>
@{
    ViewData["Title"] = "My Reviews";
}

<div class="container-fluid">
    <div class="row mb-2">
        <div class="col"><a class="btn btn-secondary" asp-action="Index">Back</a></div>
        <div class="col-9"></div>
    </div>
    
    <h1 class="text-center fw-bolder">Reviews</h1>


@if (Model.Any())
{
    <ul class="list-group">
    @foreach (var submission in Model)
        {
        <li class="list-group-item">
            <h3>@submission.AssignmentVersion.ParentAssignment.Course.Name - @submission.AssignmentVersion.ParentAssignment.Title</h3>
            <h5>Reviewee: @submission.Review.Reviewee</h5>
             <a class="float-end btn btn-primary" asp-action="SubmitReview" asp-route-reviewId="@submission.Review.Id">Submit Review</a><a class="btn btn-secondary float-end me-2" href="@submission.AssignmentLink" target="_blank">View On Github</a>
            <br />
        </li>
    }
    </ul>
}
else
    {
        <div class="alert alert-info">
            You are not currently assigned to any reviews.
        </div>
    }
</div>